/* !DOCTYPE CSS */
/*Entire webpage frame structure */
html#webpage {
	width: auto;
	height: auto;
	margin: 0px 160px;
	padding: 0px;
	background-image: url(images/img11.jpg);
	background-position: none; /*Only one image so we do not need to define a position*/
	background-repeat: repeat;
	background-size: 1700px; /*1700-160 Means we have center space of 1380px in the middle */
	
}
/*  Begin Navigation Bar */
nav#navbar {
	background-color: rgba(0,0,0,.8);
	list-style: none;
	height: 40px;
	position: fixed;
	text-align: left;
	overflow: visible;
	float: top;
	top: 0;
}
nav li {
	display: inline;
}
li a{
	color: rgba(10,132,243,1);
 	text-decoration: none;
 	margin: 0px 40px;
 	padding: 0px 30px;
 }
 li a:hover {
 	background-color: rgba(255,255,255,1); /*background color of nav with mouse over will change color*/
 }
/* End Navigation Bar */

/* Begin Image Slider */
div#img_slider {
	border: 3px white groove;
	margin-top: 100px;
	width: 1180px;
	height: 500px;
	overflow:hidden;
	border-radius: 10px;
}
img.slides {
	display: none;
	width: 100%;
	height:100%;
}
a.left_button {
	display: block;
}
a.right_button {
	display: block;
}


/*End Image Slider */

/*Begin Focus Container */
div.container1 {
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 0px;
	background-color: rgba(255,255,255, .5);
	/*border: brown groove 5px;*/
	font-family: Georgia, serif;
	border-radius: 10px;
}
h1 {
	text-align: center;
}

span {
	padding: 125px;
}
a.focus_attributes:hover {
	transform: scale(10,5);
}
a.focus_attributes:active {
	transform: scale(10,5);
}
img#students_img{
	border-radius: 50%;
	padding-left:50px;
	padding-right:50px;
	padding-top: 10px;
	padding-bottom: 20px;
}

img#involvement_img{
	border-radius: 50%;
	margin-left: 46px;
	padding-left:50px;
	padding-right:50px;
	padding-top: 10px;
	padding-bottom: 20px;
	
}
img#community_img{
	border-radius: 50%;
	margin-left: 10px;
	padding-left:50px;
	padding-right:50px;
	padding-top: 10px;
	padding-bottom: 20px;
}
/* End Focus Container */

/* Begin Second container with harmony link */
div.container2 {
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 0px;
	background-color: rgba(0,0,0, .5);
	/*border: brown groove 5px;*/
	font-family: Georgia, serif;
	border-radius: 10px;
	color: rgb(255,255,255);
	text-align: center;
}

img#logo_link {
	float: center;
	border-radius: 50%;
}

/* End */

/* Begin Footer */
footer#fcontainer {
	background-color: rgba(255,255,255, 1);
	border: groove gold 5px;
	text-align: center;
	margin-top: 100px; 
	margin-bottom: 0px;

}
/* End Footer */